#header{
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    font-size: 1.8em;
    background: #42a5a0;
    padding: 10px;
    color: white;
}
.form_header{
    display: flex;
    justify-content: space-between;
}
.form_container{
    width: 350px;
    padding: 12px;
    border: 2px #d1d3d6;
    border-radius: 8px;
    font-size: 1.5em;
    font-weight: 800;
    z-index: 10;
    background-color: bisque;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    position: fixed;
  opacity: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}
.active{
    opacity: 1;
    pointer-events: auto;
}
#popup_btn{
    font-size: 1.5em;
    font-weight: 900;
    padding: 5px 15px;
    border-radius: 10px;
    margin: 15px 10px;
}

  /* book container */

.bookContainer {
  padding: 50px;
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}

.card {
  text-align: center;
  border: 1px solid #e6eaff;
  padding: 10px;
  border-radius: 8px;
  font-size: 1.3em;
  font-weight: 800;
  background: #f5f5f5;
  box-shadow: 0 10px 6px -6px #777;
}

.card button {
  font-weight: 900;
  padding: 5px 16px;
  border-radius: 4px;
  outline: none;
  border: none;
  cursor: pointer;
}

.card .remove {
  color: white;
  margin-left: 5px;
  background: #fc1758;
}
.error {
  color: red;
  font-size: 0.7em;
}